<footer>
  <div class="infobar">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag "logo.png", class: "footer-logo" %>
        </div>
        <div class="col-sm-3">
          <h5>Come Visit Us</h5>
          <p>No. 28, Lrg Permata 4/1,<br>Taman Permata, 70200<br>Seremban, Negeri Sembilan</p>
        </div>
        <div class="col-sm-3">
          <h5>Talk With Us</h5>
          <p><b>E</b> <a href="#">info@ekar.com</a></p>
          <p><b>T</b> 06- 7633659</p>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>
  </div>
  <div class="bottombar">
    <div class="container">
      <div class="pull-right">
        <%= link_to "About", infos_about_path %>
        <%= link_to "Developments", infos_developments_path %>
        <%= link_to "Tribute", infos_tribute_path %>
        <%= link_to "Careers", infos_career_path %>
        <%= link_to "Contact", infos_contact_path %>
      </div>
      <span class="copyright">&copy; 2015 Taman Ekar Sdn. Bhd.</span>
    </div>
  </div>
</footer>
