<footer>
  <div class="infobar">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag "logo.png", class: "footer-logo" %>
        </div>
        <div class="col-sm-3">
          <h5>Come Visit Us</h5>
          <p>No. 28, Lrg Permata 4/1,<br>Taman Permata, 70200<br>Seremban, Negeri Sembilan</p>
        </div>
        <div class="col-sm-3">
          <h5>Talk With Us</h5>
          <p><b>E</b> <a href="#">cs@ekar.com</a></p>
          <p><b>T</b> 1400-222-222</p>
        </div>
        <div class="col-sm-3">
          <h5>Get Social</h5>
          <p><a href="#">Facebook</a></p>
          <p><a href="#">Twitter</a></p>
          <p><a href="#">Instagram</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottombar">
    <div class="container">
      <div class="pull-right">
        <%= link_to "About", root_path %>
        <%= link_to "Milestone", root_path %>
        <%= link_to "Team", root_path %>
        <%= link_to "Products", root_path %>
        <%= link_to "Contact", root_path %>
      </div>
      <span class="copyright">&copy; 2015 Taman Ekar Sdn. Bhd.</span>
    </div>
  </div>
</footer>
