<header>
  <div class="topbar">
    <div class="container">
      <a href="<%= root_path %>" id="logo-link">
        <%= image_tag "logo.png", alt: "", height: "40" %>
        <span class="logo-text hidden-xs">Ekar</span>
      </a>
      <div class="pull-right hidden-xs">
        <span class="top-info">
          <strong>Hotline</strong><br>1400-222-222
        </span>
        <span class="top-info">
          <strong>Email</strong><br><a href="mailto:cs@ekar.com">cs@ekar.com</a>
        </span>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="container">
      <%= link_to "Home", root_path, class: "active" %>
      <%= link_to "About", infos_about_path %>
      <%= link_to "Tribute", infos_tribute_path %>
      <%= link_to "Careers", infos_career_path %>
      <%= link_to "Contact", infos_contact_path %>
    </div>
  </div>
</header>

<script>
  $(document).ready(function() {
    $('.navbar').stickyNavbar();
  });
</script>
