<header>
  <div class="topbar">
    <div class="container">
      <a href="<%= root_path %>" id="logo-link">
        <%= image_tag "logo.png", alt: "", height: "40" %>
        <span class="logo-text hidden-xs">Ekar</span>
      </a>
      <div class="pull-right hidden-xs">
        <span class="top-info">
          <strong>Hotline</strong><br>06- 7633659
        </span>
        <span class="top-info">
          <strong>Email</strong><br><a href="mailto:info@ekar.com">info@ekar.com</a>
        </span>
      </div>
    </div>
  </div>
  <div class="navbar">
    <div class="container">
      <% if current_page?(root_path) %>
        <%= link_to "Home", root_path, class: "active" %>
      <% else %>
        <%= link_to "Home", root_path %>
      <% end %>
      <% if current_page?(infos_about_path) %>
        <%= link_to "About", infos_about_path, class: "active" %>
      <% else %>
        <%= link_to "About", infos_about_path %>
      <% end %>
      <% if current_page?(infos_developments_path) %>
        <%= link_to "Developments", infos_developments_path, class: "active" %>
      <% else %>
        <%= link_to "Developments", infos_developments_path %>
      <% end %>
      <% if current_page?(infos_tribute_path) %>
        <%= link_to "Tribute", infos_tribute_path, class: "active" %>
      <% else %>
        <%= link_to "Tribute", infos_tribute_path %>
      <% end %>
      <% if current_page?(infos_career_path) %>
        <%= link_to "Careers", infos_career_path, class: "active" %>
      <% else %>
        <%= link_to "Careers", infos_career_path %>
      <% end %>
      <% if current_page?(infos_contact_path) %>
        <%= link_to "Contact", infos_contact_path, class: "active" %>
      <% else %>
        <%= link_to "Contact", infos_contact_path %>
      <% end %>


    </div>
  </div>
</header>

<script>
  $(document).ready(function() {
    $('.navbar').stickyNavbar();
  });
</script>
