<%= render partial: "home/hero" %>
<%= render partial: "home/intro" %>
<%= render partial: "components/infographics" %>
<%= render partial: "components/timeline" %>

<div id="why-choose-section" class="text-center">
  <h2 class="text-center">Why Customers Choose Us</h2>
  <%= image_tag "infographic.png", style: "width: 40%;", class: "brand-circle" %>
</div>

<div id="we-see-section" data-parallax="scroll" data-image-src="/assets/home/bg-we-see.jpg" data-natural-width="2500" data-natural-height="1230" data-position="center center" iosfix="false" androidfix="false" bleed="30">
  <div class="container">
    <h1 class="text-center">What We See</h1>
    <div class="text-center">
      <p>While others see an empty land, we see a cosy home and your smiling faces. While others see bricks and cement, we see intimate laughter and security. While others
  see yet another construction project, we see a place you can call your own. For each project is like an empty canvass, waiting for us to draw your masterpiece.</p>
      <p>Here at Taman Ekar, your trust is something we never take for granted. We work hard everyday to hang smiles on your faces and we strive our best to realise your ideal home instead of providing just an empty shelter. Despite the blood, sweat and tears that we constantly pour into our craft, we always find great joy in seeing your satisfaction with our work.</p>
      <p>After over 20 years of serving Malaysians, we never have been more clear of our goals and purpose. We don’t just plan townships, we don’t just build empty structures and we don’t just hand over plain keys. What we ultimately see in our work, is a promise of a better tommorrow. We see the Ekar difference.</p>
      <p>So, what do you see?</p>
    </div>
  </div>
</div>


<%= render partial: "components/contact" %>


<script>
$(window).scroll(function() {
  $('.brand-circle').each(function(){
  var imagePos = $(this).offset().top;

  var topOfWindow = $(window).scrollTop() + $(window).height();
    if (imagePos < topOfWindow-200) {
      $(this).addClass("hatch");
    }
  });
});
</script>
