<section id="tribute-section">

  <div id="tribute-slider" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="container">
        <h1 class="vertical-align">Dato Cheok Kian Yek, the founder of Ekar, not only built many homes but also a lasting legacy. Here, we remember Dato Cheok and the vision he built.</h1>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/nz.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"The best thing about your future is that it comes a day at a time."</h3>
            <p>In his twenties, Ken Cheok left Malaysia for New Zealand with a strong determination to seek a new life and new opportunities. With a plane ticket in hand and a bag packed with only a few t-shirts and shorts, he eagerly took his first ever commercial flight. Unexpectedly for him, he faced his first challenge of braving the cold Kiwi weather in a small town called Hamilton. True to his positive self, he laughed at his mistake, picked up his luggage and carried on. This eventually led him to meet the Sellmans, a lovely New Zealand family who took him in and treated him as their own.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 1-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/engineering.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“We all pay school fees to learn.”</h3>
            <p>Ken Cheok was a young and mischevious boy growing up. Studies weren't his first priority and had a poor grasp of English before arriving in New Zealand. So it was not a mystery that he struggled adapting to his new life. Nevertheless, he continued to push forward with his sunny optimism and stubborness to concede. He worked hard during the day to cover expenses while studying at night in order not to fall behind. Along with the help of the Sellmans, he finally achieved a New Zealand Certificate of Engineering from Hamilton College.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 2-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/young.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“No one can make you angry without your consent.”</h3>
            <p>A free spirit throughout his entire life, Ken was unafraid of getting out of his comfort zones. He always carried a gentle and friendly persona, yet tough while in the face of adversity. His patience and willingness to learn allowed him to overcome all obstacles and he carried these traits throughout entire life and career.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 3-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/graduation.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"People who have time to worry are those who have no-time to succeed"</h3>
            <p>After Hamilton, Ken Cheok set his sights on greater heights. Using his New Zealand diploma as a stepping stone, he got himself accepted into the University of Melbourne. 4 years of hardwork landed him a Bachelor's degree with honours in Electrical Engineering and a lucative postion at Ford Motor Company as senior engineer. Milestone after milestone, he was never afraid to push forward.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 4-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/menang-boardroom.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"The best way to become the head of any organization is to help others get ahead."</h3>
            <p>Fast forward to the 1980s, Ken Cheok was newly married and embarked on a new career. He was back home in Malaysia at last and he sat as one of the directors on the board of Menang Corporation Bhd (developer company now listed on the Bursa Malaysia), chaired by his older brother, Cheok Kian Yap. This marked his first foray into property development and the start of his life's true passion.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 5-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/first-project.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"A true leader never feels any worthy task is too low for him to do"</h3>
            <p>The Taman Rasah Jaya Township project was Ken Cheok's biggest project in Menang. Nestled in Seremban, Negeri Sembilan, Ken help coordinate the massive project and succesfully brought homes to the ever increasing population of his hometown. Whether in the office or at site, he was never shy get his hands dirty to get the job done.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 6-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/rasah-jaya.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"The stars shine brighter in the darkness. There is always opportunity hidden within unfortunate times. You will just have to look harder."</h3>
            <p>As ambitious man, Ken Cheok was eager to pursue his aspirations and make his own mark in property development. In 1980s, he saw opportunity during the Malaysian economic downturn and was determined to provide affordable quality housing to budding new homebuyers.  After the Rasah Jaya Project, Ken Cheok left Menang to pursue property development on his own. He opened his new office in the Rasah Jaya Township he helped built. Then and there, our company Taman Ekar was born.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 7-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/staff.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“Always be humble. Never look down on people around you. They are the ones who helped carry you up and they can easily bring you down.”</h3>
            <p>Ken Cheok built his company with capable and loyal staff whom he loved and respected. Together they launched our first township project in the small seaside town of Port Dickson. The Bandar Sungala project was what propelled the company into the spotlight as the affordable yet quality houses drew attention to many. It was a huge success and marked the beginning of many others to come. However, Ken constantly regarded his staff as the true prize of his endevours. They shared his passion and stood by him through thick and thin. Because of that, he loved all of them like family and most of them continue to serve the company till this very day.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 8-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/wisma-ekar.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"A promise of a better tommorrow."</h3>
            <p>Circa early 90s. After the Bandar Sungala project, Ken Cheok found that the company did not have enough space to keep up with the high demanding growth. Staff numbers were expanding and new projects were underway. Desperate for a office, the Wisma Ekar building was built in the middle of the Taman Permata project. Standing tall and proud, Wisma Ekar is a solid reminder of our greatest achievements as well as Ken's humble beginnings. Until today, the building continues to loyally serve us as our home.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 9-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/speech.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“A man may flaunt fine clothes and drive fancy cars. But a true gentleman makes everyone around him feel comfortable.”</h3>
            <p>Ken Cheok was an extremely charasmatic man, who didn't have trouble finding friendships wherever he went. He was a fierce orator as much as he was a gentle conversationalist. Observant, wise and composed, he was one who understood the importance of respect and that he could learn from anybody he encountered. Nevertheless, he was still a simple man at heart who was always a pleasure to talk to.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 10-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/model-house.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"A successful leader is one who laid a strong foundation with the stones that people threw at him."</h3>
            <p>Under Ken Cheok's leadership, the company underwent a healthy expansion and embarked on numerous other township projects in different cities and states. Each project was more ambitious than the one before. Here in this picture is Ken during the Bukit Permata Villa launch, which was the first luxury condimium in Seremban. We see him showcasing the model houses to the former Negeri Sembilan Menteri Besar, YAB Dato’ Seri Utama Tan Sri Hj Mohd Isa Bin Dato Hj Abdul Samad.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 11-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/dad-cutting-ribbon.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"Property development for me was more than just a career, it was an opportunity to provide shelter to others."</h3>
            <p>One of Ken's biggest joys was to see the smiles of others. And his passion in property development allowed him to do just that. Here in this picture, we have him cutting the ribbon to the show-house at the official launch of the Panchor Jaya project. Ken was extremely proud of his company's achievements and milestones. And with every launch, he was always at the front, eager to show the public what new things he had in store.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 12-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/tour.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"Don't just work hard, work smart"</h3>
            <p>Here we see Ken Cheok giving a tour of the Phase 3 houses for the Bandar Ekar Rantau during its official launch. From the plan layouts to the exterior architecture, Ken took part in every design aspect of each house he built. No task was too great for Ken and his tendency to think out of the box led to exceptional ideas that made the Ekar difference. And it was this difference that made Taman Ekar extraordinary.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 13-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/directing.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"Nothing's impossible. You won't know if you don't at least try."</h3>
            <p>Ken was always a visionary who had a clear sense of his goals and ambitions. He never backed down from anything that he saw purpose in. No matter how challenging the road ahead was, Ken will always find a way out. He was a man who truly believed that nothing is impossible and his strength drew the respect of many. For the rest of his life, he has never once stopped fighting.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 14-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/donating.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>"Always appreciate what you have, never take things for granted."</h3>
            <p>Coming from an underpriviledged background, Ken knew personally the importance of making a postive change to his own community. He was a generous philantropist who donated as much as he could. Throughout his years, Ken personally donated much of his earnings to schools, scholarships, temples and many more. Whether rain or shine, he never hestitated to share nor missed an opportunity to give.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 15-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/datoship.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“Don’t worry. Tomorrow, the sun will rise.”</h3>
            <p>Ken Cheok's 20 years of leadship did not come easy. Taman Ekar went through economic downturns, financial difficulties and fierce competition. However, Ken powered on relentessly and steered his company through tough times. He worked closely with local governments to develop a total of 5 townships. These projects provided homes to the masses, which in turn sprawled organic communities and brought along many economic benefits to the area. He was a pioneer in property development who brought many firsts to his home state and built schools, commercial structures and places of worship in those communities in order to realise his vision of self-sustaining living for all. In recognition his efforts, Dato Cheok received his Datoship from the Paduka Seri Tuanku Yang Dipertuan Besar Negeri Sembilan.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 16-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/salesman.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“Never cross the bridge, then burn it.”</h3>
            <p>Despite what he had accomplished over the years, Ken Cheok was a grateful man who never forgot his roots. He was someone who remembers every act of kindness no matter the significance and would always seek to repay in kind. Here we see him reunite with the Sellmans back in New Zealand. Ken always had a soft spot for New Zealand and he will visit the Sellmans whenever he had the chance. They have always held an important place in his heart and he continued to keep close contact with them throughout his life.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 17-->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/smilling.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“My name is Ken Cheok. When you need something done, I Ken.”</h3>
            <p>Dato Ken Cheok passed away in 2015 surrounded by his entire family. Despite that, his spirit continues to live on in the hallways of Taman Ekar. His optimism is what keeps our head high in the face of adversity. His resilience is what keeps us moving forward without him. His vigor is what keep us vigilant in an ever changing environment. His generosity is why always we push for smiles on faces. And lastly, his passion for property development is why we continue to do what we do, that is to make homes not just houses.</p>
            <p>At Taman Ekar, Ken taught us to try our best no matter the task since there is no such thing as an easy gain without pain. Whenever there is something that needed to be done, We will always say, We Ken.</p>
          </div>
        </div>
      </div>
    </div><!-- /item 18-->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#tribute-slider" role="button" data-slide="prev">
    <%= image_tag "home/previous.png", alt: "" %>
  </a>
  <a class="right carousel-control" href="#tribute-slider" role="button" data-slide="next">
    <%= image_tag "home/next.png", alt: "" %>
  </a>
</div>

</section>
