<section id="tribute-section">

  <div id="tribute-slider" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <div class="container">
        <h1 class="vertical-align">Dato Cheok Kian Yek, the founder of Ekar, not only built many homes but also a lasting legacy. Here, we remember Dato Cheok and the vision he built.</h1>
      </div>
    </div>

    <div class="item">
      <div class="container container-lg">
        <div class="row">
          <div class="col-sm-12"><div class="img-holder"><%= image_tag "tribute/dad-cutting-ribbon.jpg" %></div></div>
          <div class="col-sm-12">
            <p>Dato Cheok cutting the ribbon to the show-house at the official launch of the Panchor Jaya project.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->


    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/nz.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <p>Dato Cheok left Malaysia for New Zealand to pursue a new life and new opportunities. He received a New Zealand Certificate in ngineering in Hamilton College before departing for the University of Melbourne in Australia. Here is he photographed with Sellmans, who were his homestay parents in NZ.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder portrait"><%= image_tag "tribute/graduation.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <p>Dato Cheok holding a bachelor degree in Engineering with Honours.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/wisma-ekar.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <p>Circa early 90s. After the Bandar Sungala project, Dato Cheok found that the company did not have enough space to keep up with the high growth, and built the company HQ building in Taman Permata, which was the second township project he endeavoured. The building remains until today.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container container-lg">
        <div class="row">
          <div class="col-sm-12"><div class="img-holder"><%= image_tag "tribute/rasah-jaya.jpg" %></div></div>
          <div class="col-sm-12">
            <p>Dato Cheok at the Rasah Jaya office when Taman Ekar first started in 1989.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/first-project.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <p>Dato Cheok with his colleagues from Menang at a project site.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/menang-boardroom.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <p>Circa 1980’s. Dato Cheok sat on the board of Menang Corporation Bhd (developer company now listed on the Bursa Malaysia), appointed by his older brother, Cheok Kian Yap before leaving to start his own company Taman Ekar.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/smilling.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“My name is Ken Cheok. When you need something done, I Ken.”</h3>
            <p>A candid photograph of Dato Cheok. Whenever he cracked a joke and laughed, he has a tendency of resting his hands behind his head and leaning back.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/donating.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“Never justify your wrong doings. When you justifications come to a stop, you will certainly rise to the top.”</h3>
            <p>Dato Cheok donating a cheque to the Kuala Sawah Guanyin Ma temple. He was a very generous man who donated to many schools and temples around Negeri Sembilan, even during tough times.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/engineering.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“We all pay school fees to learn.”</h3>
            <p>A young Dato Cheok at his dormitory at the University of Melbourne.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/directing.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“When driving, assume everyone around you is an idiot. That is never true in business. There, everyone is smarter than you and you are the idiot.”</h3>
            <p>Dato Cheok speaking to prospective buyers about the Bandar Ekar Rantau Project. To his right is his business associate Mr Goping.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/staff.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“Always be humble. Never look down on people around you. They are the ones who helped carry you up and they can easily bring you down.”</h3>
            <p>The first and only staff group picture of Bandar Ekar Rantau Project taken at the Bandar Sungala township launch. To Dato Cheok’s left is his close friend, Dato Joseph Chow who to this day continues to be a very close friend of the family.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/model-house.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“If you fail to plan, you plan to fail”</h3>
            <p>At the Bukit Permata Villa launch. Dato Cheok giving the former Negeri Sembilan Menteri Besar, YAB Dato’ Seri Utama Tan Sri Hj Mohd Isa Bin Dato Hj Abdul Samad a tour of the site and showcasing the model houses.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/datoship.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“Don’t worry. Tomorrow, the sun will rise.”</h3>
            <p>Dato Cheok receiving his Datoship from the Paduka Seri Tuanku Yang Dipertuan Besar Negeri Sembilan.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/young.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“No one can make you angry without your consent.”</h3>
            <p>Dato Cheok during his younger days with a Mercedes.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container container-lg">
        <div class="row">
          <div class="col-sm-12"><div class="img-holder"><%= image_tag "tribute/tour.jpg" %></div></div>
          <div class="col-sm-12">
            <p>The official handing of keys for Phase 1 of the Bandar Ekar Rantau project as well as the official launch of Phase 3. This was on the second floor of the Rantau third phase showhouse.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/salesman.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“Never cross bridges, then burn it.”</h3>
            <p>Dato Cheok reuniting with the Sellmans at a lunch. He never forgot his roots and they have always held an important place in his heart since they took care of him as if he was their own son. The Sellmans continue to be an important family friend till this day.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->

    <div class="item">
      <div class="container">
        <div class="row">
          <div class="col-sm-7"><div class="img-holder"><%= image_tag "tribute/speech.jpg", class: "vertical-align" %></div></div>
          <div class="col-sm-5 vertical-align">
            <h3>“A man may wear fine clothes and drive fancy cars. But a true gentleman makes everyone around him feel comfortable.”</h3>
            <p>Dato Cheok giving a speech in the Allson Klana Resort.</p>
          </div>
        </div>
      </div>
    </div><!-- /item -->
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#tribute-slider" role="button" data-slide="prev">
    <%= image_tag "home/previous.png", alt: "" %>
  </a>
  <a class="right carousel-control" href="#tribute-slider" role="button" data-slide="next">
    <%= image_tag "home/next.png", alt: "" %>
  </a>
</div>

</section>
